<h1>Photo Details</h1>
<dl>
  <dt>
    Image
  </dt>

    <dd> </dd>

  <dt>
    Caption
  </dt>

    <dd>
  <dt>
    Owner
  </dt>

  <dt>
    Posted
  </dt>

  <dt>
    Edit Photo
  </dt>

  <dt>
    Delete Photo
  </dt>
</dl>
